/* #region FUENTES */
@font-face {
    font-family: "Alfa";
    src: url("assets/fonts/AlfaSlabOne-Regular.ttf")
}
@font-face {
    font-family: "GTAArtDecoRegular";
    src: url("assets/fonts/GTAArtDecoRegular.ttf");
}
@font-face {
    font-family: "GTAArtDecoMedium";
    src: url("assets/fonts/GTAArtDecoMedium.ttf");
}
/* #endregion */

/* #region GENERAL */

.hidden {
    opacity: 0;
    display: none;
    pointer-events: none;
}
body.index::before {
    background-image: url("assets/images/main/background.webp");
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1);
    z-index: -1;
}
body::after {
    content: "🚧 EN CONSTRUCCIÓN 🚧";
    display: block;
    background: #ffc164ab;
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 5;
}

body {
    font-family: "GTAArtDecoRegular";
    min-height: 100vh;
    overflow-x: hidden;
}
body::before {
    animation: fondoZoom 12s ease-in-out infinite;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #8d75efd1, #b475efce, #8d75efd1);
    backdrop-filter: blur(10px);
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 3px solid #833fc3d9;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}
header a {
    margin: 0;
    padding: 0;
    line-height: 0;
    transition: all 0.2s ease;
}
header img {
    width: 4rem;
    margin-left: 30px;
    filter: drop-shadow(1px 1px 12px #e399bc);
}
header a:active {
    transform: scale(0.85);
}
header a:hover {
    filter: brightness(0.8);
}

header h1 {
    font-family: "Alfa";
    margin: 0;
    font-size: 2.1rem;
    text-align: center;
    -webkit-text-stroke: 1px #000000ad;
    background-color: #4584d2dc;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease;
}
header h1:hover {
    filter: brightness(1.2);
    -webkit-text-stroke: 1px #0e315892;
    cursor: default;
    transform: scaleX(1.04);
    cursor: grabbing;
}
header button {
    border-radius: 10px;
    border: 3px solid #417db5da;
    padding: 3px;
    background-color: #76b1e8;
    cursor: pointer;
    filter: drop-shadow(1px 1px 20px #75e1e1);
    transition: background-color, transform 0.3s ease;
}
header button:hover {
    background-color: #448ed4;
    transform: scale(1.1);
}
header button:active {
    background-color: #25649fc9;
}
header button.active {
    background-color: #3486d394;
    border-color: #3557ec5b;
}
header button.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
header button.active .line:nth-child(2) {
    opacity: 0;
}
header button.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);;
}
header button .line {
    transition: all 0.1s ease-in-out;
}
header .line {
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px;
    background-color: #e1faff;
}
#rightContent::before {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 7px;
    padding-right: 0;
    mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude; 
    background:linear-gradient(90deg, #b475efd9, #2081c7);
}
body.index #rightContent {
    flex-direction: column;
    width: 5%;
}
#rightContent {
    padding-inline-start: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -25vw;
    width: 20%;
    height: 85vh;
    background: #20042bce;
    transition: right 0.4s ease-in-out;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    backdrop-filter: blur(20px);
    z-index: 500;
}
#rightContent a {
    margin: 0;
}
#rightContent img {
    width: 5rem;
    padding: 4px 20px;
    transition: transform 0.25s ease;
}
#rightContent img:hover {
    transform: scale(1.3);
}
.right-content-logos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.right-content-img {
    filter: grayscale(100%)
}
#rightContent.show {
    right: 0;
}
.right-content-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px
}
.right-content-nav ul {
    list-style: none;
    margin: 0;
    padding: 20px 0px;
}
.right-content-nav li {
    text-align: left;
    padding: 10px 0px;
    line-height: 0.9;
}
.right-content-nav a {
    text-decoration: none;
    font-weight: bold;
}
.right-content-nav a.inactive {
    transition: color 0.4s;
}

.block {
    margin: 80px 160px 0px 160px;
    padding: 25px 0 15px 80px;
    border-radius: 30px;
    transition: scale 0.4s ease-out;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}
.block:hover {
    scale: 1.003;
}
body.index .block {
    background:
    radial-gradient(circle 1200px at top center, #ea82f5 15%, transparent 95%),
    radial-gradient(circle 1200px at bottom center, #ea82f5 15%, transparent 97%), #9ecce5f3;
    color: #000000;
    box-shadow: 0px -60px 500px 100px #00cc9c71;
    position: relative;
    z-index: 1;
}

body.index .block::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 12px; 
    background:linear-gradient(180deg, #f192fc, #5283bd, #f192fc); 
    mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
    mask-composite: exclude;
    z-index: -1
}
body.index #container {
    display: flex;
    flex-direction: column;
}
h2.welcome-title  {
    font-family: "Alfa";
    line-height: 0.9;
    font-size: 2.7rem;
    width: fit-content;
    margin-bottom: 0px;
    -webkit-text-stroke: 2px #0000006c;
    background: linear-gradient(to right, #0e72edf1, #fd8eafe7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fotd-container {
    background:
    radial-gradient(circle 150px at 10px 10px, #73e3fca7 15%, transparent 70%),
    radial-gradient(circle 150px at 100% 100%, #73e3fca7 15%, transparent 70%), #c4efea;
    padding: 20px;
    box-shadow: 0px 0px 15px 1px #0000008e;
    border-radius: 15px 15px 30px 30px;
    border: 3px solid #0fadf7;
    margin: 15px;
    position: absolute;
    top: 55px;
    right: 15px;
}
.fotd-title h2 {
    text-align: center;
    font-family: "Alfa";
    margin: 0;
    width: auto;
    font-size: 25px;
    color: #efcbf2;
    -webkit-text-stroke: 1px #0000009e;
}
.fotd-description p {
    font-family: "Verdana";
    font-size: 18px;
    text-align: center;
    margin: 4px 0;
}
.fotd-image img {
    width: 45%;
    border: 2px solid;
    border-radius: 10px;
    display: block;
    margin: 15px auto 0 auto;
}
.text-container p {
    font-family: "GTAArtDecoRegular";
}
body.index .text-container p {
    color: #000000;
}
.text-container p:not(.news-text, #nameRadio, .tab-content p, .tools-description, #radioText) {
    font-size: 1.4rem;
    text-align: left;
    margin-top: 10px;
    margin-right: 30px;
    max-width: 70ch;
}
section.news {
    position: relative;
    background: radial-gradient(circle at top center, #49c2ea 30%, #e69ae6);
    box-shadow: 0px -60px 600px 1px #15a1cfad;
    padding: 22px 15px;
    margin: 120px 200px;
    border-radius: 20px;
    z-index: 1;
}
section.news::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 5px; 
    background:linear-gradient(180deg, #1585aa, #b064b0); 
    mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
    mask-composite: exclude; 
    z-index: -1
}

section.news h2 {
    position: relative;
    font-family: "Alfa";
    line-height: 45px;
    font-size: 39px;
    margin: 0 0 55px 0;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: #07455a6a;
    -webkit-text-stroke: 2px #00000093;
}
#newsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.news-title {
    margin: 0;
    font-size: 27px;
    font-family: "GTAArtDecoMedium";
    text-align: center;
}
.news-date {
    margin: 0 0 15px 0;
    text-align: center;
    font-style: italic;
    color: #390537;
    font-family: "GTAArtDecoRegular";
}
#newsContainer p {
    font-size: 20px !important;
    color: #000000 !important;
    width: 60ch;
    text-align: center;
    text-wrap: balance;
}
.news-image {
    display: block;
    margin: 0 auto;
    max-width: 60ch;
    border-radius: 10px;
    border: 2px solid #68136e;
}
.news-link {
    display: block;
    width: fit-content;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    background: #6b1786;
    box-shadow: 0 0 6px #da12cd;
    border-radius: 20px;
    color: #ffffff;
    font-family: "GTAArtDecoMedium";
    text-transform: uppercase;
    transition: all 0.2s;
}
.news-link:hover {
    filter: brightness(0.8);
}
.news-article {
    border-bottom: 1px solid #00000020;
    margin-bottom: 35px;
    text-align: left;
}
.news-article:last-of-type {
    border: none;
}
#verMas {
    width: fit-content;
    padding: 12px;
    font-size: 25px;
    margin: 0 auto;
    height: auto;
    font-family: "GTAArtDecoRegular";
    color: #ffffff;
    background-color: #11b0b280;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
}
.text-container h2:not(.welcome-title) {
    font-size: 2rem;
    text-align: center;
}
.text-container details {
    margin-top: 30px;
    font-size: 22px;
    color: #30627e;
}
.text-container details:hover {
    cursor: pointer;
}
.text-container details[open] {
    color: #01122cc4;
    transition: color 0.2s ease-in-out;
}
.text-container details[open]:hover {
    cursor: default;
}
.text-container details p {
    max-width: 100ch;
}
.text-container details h3 {
    font-size: 35px;
    color: #161616;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #455eec, #d049ee);
    border-image-slice: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: left;
}
.text-container details h4 {
    font-weight: 800;
}
#imageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b3;
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.overlay-img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 20px #000000;
    border-radius: 10px;
}
.close-btn {
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 0px 20px #c36086;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.05s ease;
}
.close-btn:active {
    transform: scale(0.9);
    color: #bdbdbd;
}
.timeline-image, .news-image {
    transition: filter 0.15s ease-in;
}
.timeline-image:active, .news-image:active {
    filter: brightness(40%);
}
.timeline-image:hover, .news-image:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
/* #endregion */

/* #region FICHA TÉCNICA */
.ficha-tecnica {
    border: 3px solid;
    border-radius: 30px;
    max-width: 400px;
    margin-right: 20px;
}
.infobox img {
    border-radius: 10px;
    margin: 0 auto;
}
.infobox ul, .infobox li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.ficha-tecnica .infobox {
    max-width: 400px;
    font-size: 15px;
}
.ficha-tecnica table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
.ficha-tecnica .infobox td {
    font-size: 17px;
    padding-right: 2px;
}
.ficha-tecnica .infobox th,
.ficha-tecnica .infobox td {
    text-align: left;
    vertical-align: middle;
}
.ficha-tecnica .infobox th {
    font-size: 19px;
    text-align: center;
    max-width: 20ch;
}
.ficha-tecnica .portada img {
    width: 80%;
    height: auto;
    display: block;
}
span.table-platforms {
    font-size: 21px;
    font-weight: bold;
}
/* #endregion */

/* #region HERRAMIENTAS Y MODS */
section.tools-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
article.tools {
    display: grid;
    grid-template-columns: 120px 1fr;
    background-color: rgb(13, 64, 99);
    box-shadow: 0 0 5px 5px #3c50be4f;
    padding: 10px;
    border-radius: 25px;
    max-width: 70%;
}
article.tools:hover {
    cursor: pointer;
}
.tools-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tools-img img {
    width: 100px;
    border: 3px solid #000d00;
    border-radius: 50%;
    transition: width 0.5s;
}
.tools-content {
    display: grid;
    grid-template-rows: auto 1fr;
}
.tools-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.tools-arrow {
    width: 20px;
    height: auto;
    filter: invert(1);
    transition: transform 0.3s ease-out;
}
h4.tools-title {
    padding: 0;
    margin: 0;
    font-size: 22px;
    text-align: left;
    transition: font-size 0.4s ease-out;
}
p.tools-description {
    margin: 0;
    padding: 0;
    text-align: left;
    text-wrap: balance;
    color: #e3e2e2;
}
.tools.expanded {
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto auto;
    width: 70%;
}
.tools.expanded.tools {
    cursor: default;
}
.tools.expanded .tools-img img{
    width: 80px;
}
.tools.expanded .tools-title {
    text-align: center;
    flex: 1;
    font-size: 28px;
    margin-top: 10px;
    margin-left: -30px;
}
.tools.expanded .tools-description {
    display: none;
}
.tools.expanded .tools-dropdown {
    max-height: 500px;
    padding: 15px;
    transition: all 0.4s ease-out;
} 
.tools.expanded .tools-arrow {
    transform: rotate(180deg);
}
.tools.expanded.tools-arrow:hover, .tools-arrow:hover {
    cursor: pointer;
    scale: 1.2;
}
.tools-dropdown {
    grid-column: span 2;
    max-height: 0;
    overflow: hidden;
}
.tools-tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.tools-tabs button {
    background-color: #8e94eeab;
    color: #fffbf6a1;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}
.tools-tabs button:hover {
    cursor: pointer;
}
.tools-tabs button.active {
    border: 3px solid #867ff3a4;
    color: #fff;
    background-color: #3e4af0;
}
.tools-tabs button.active:hover {
    cursor: default;
}
.tools-tab-content {
    display: none;
    text-align: center;
    margin-top: 15px;
}
.tools-tab-content.active {
    display: block;
}
/* #endregion */

/* #region RADIO */
.radio-drag {
    display: flex;
    width: 500px; /* TODO: darle ancho específico a cada página */
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}
.radio-drag p {
    font-size: 50px;
    text-align: center;
    text-wrap: nowrap;
    transition: transform 0.4s ease, opacity 0.4s ease;
    margin: 0;
    white-space: nowrap;
}
.radio-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 120px;
}
.radio-container img {
    filter: invert(1);
    width: 40px;
}
body:not(.gta-v) .radio-container img:nth-of-type(1) {
    transform: rotate(90deg);
}
body:not(.gta-v) .radio-container img:nth-of-type(2) {
    transform: rotate(270deg);
}
footer {
    text-align: center;
    display: none;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    background:  linear-gradient(to right, #8d75efd1 10%, #b475efce 50%, #8d75efd1 90%);
    border-top: 3px solid #833fc3d9;
    backdrop-filter: blur(12px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-album img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 3px solid #98dbee;
}
.footer-text {
    margin-left: 15px;
    text-align: left;
}
.footer-text p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    font-family: "GTAArtDecoRegular";
}
.footer-container {
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.footer-controls {
    display: flex;
    gap: 15px;
    transition: filter 0.2s ease-in-out;
}
.footer-controls img {
    filter: invert(0.85) drop-shadow(1px 1px 2px #000000);
}
.footer-controls img:nth-of-type(odd) {
    scale: 0.85;
}
.footer-controls img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.footer-controls img:active {
    transform: scale(0.99);
    filter: invert(0.85) brightness(1.6) sepia(0.3) hue-rotate(-30deg) saturate(2);
}
.footer-timer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    color: rgb(222, 221, 221);
    font-family: Tahoma;
}
#bar {
    flex: 1;
    height: 6px;
    background: rgba(129, 129, 129, 0.348);
    border-radius: 3px;
    overflow: hidden;
}
#currentBar {
    width: 15%;
    height: 100%;
    background: rgb(244, 225, 246);
}

#radioInfo {
    display: none;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 4px 10px;
    align-items: center;
    margin: 15px 160px 0px 160px;
    padding: 15px;
    color: #fff;
    border-radius: 30px;
    z-index: 3;
    transition: scale 0.4s ease;
}
#radioInfo:hover {
    scale: 1.003;
}
#radioImage {
    width: 140px;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    height: auto;
}
#radioTitle {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-size: 1.8rem;
    margin: 0;
}
#radioDJ {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0;
}
#radioGenre {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: 0;
}
#radioList {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    margin: 0;
    padding-left: 10vw;
}
/* #endregion */

/* #region ANIMACIONES */
.welcome-title {
    display: inline-block;
    border-right: 3px solid #1f97d71c;
    white-space: nowrap;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 2px;
    animation: blink-cursor 0.7s steps(1) infinite;
}
@keyframes blink-cursor {
    0%, 100% { border-color: #29cda91c; }
    50% { border-color: transparent; }
}
@keyframes fondoZoom {
    0%   { transform: scale(1.1); }
    40%  { transform: scale(1.115); }
    80%  { transform: scale(1.111); }
    100% { transform: scale(1.1); }
}
/* #endregion */

/* #region MEDIA QUERIES */
@media (min-width: 769px) {
.container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-wrapper h2 {
    margin-right: 20px;
}

.fotd-container {
    width: 300px;
    margin-top: 0;
}

.text-container {
    margin-top: 30px;
}
}

@media (max-width: 1080px) {
#container {
    flex-direction: column !important;
}

.fotd-container {
    width: 300px;
    margin: 20px 0;
}
#rightContent {
    right: -75%;
    width: 290px;
}
#rightContent img {
    padding: 0;
    transform: scale(0.9);
}
.right-content-nav li{
    font-size: 15px;
}
}

@media (max-width: 768px) {
    .block {
        padding: 40px;
        margin: 85px 15px;
        text-align: center
    };
    .text-container {
        display: flex !important;
        flex-direction: column !important;
    }
    .text-container p:not(.news-text, #nameRadio, .tab-content p, .tools-description, #radioText) {
        max-width: max-content;
        margin: 0;
        margin-bottom: 50px;
        text-wrap: balance;
    }
    body.index #rightContent {
        width: 15% !important;
    }
    #rightContent {
        width: 70%;
    }
    .ficha-tecnica {
        margin: 0px auto;
    }
    .fotd-container {
        position: relative;
        margin: 0 auto 100px auto;
    }
    .welcome-title {
        text-wrap: wrap;
    }
    section.news {
        width: 95%;
        margin: 0;
    }
    .news-title {
        font-size: 21px;
    }
    #newsContainer p {
        max-width: 25ch !important;
    }
    .news-image {
        width: 250px;
    }
    .v-radio-wheel .radio-image {
        width: 37px !important;
        height: 37px !important;
        transform: rotate(calc(var(--i) * 14.4deg)) translate(160px) rotate(calc(var(--i) * -14.4deg)) !important;
    }

    .v-radio-center p {
        font-size: 17px !important;
        left: 50%;
    }
}
/* #endregion */