---
import FichaTecnica from "../FichaTecnica.astro"
---
<section class="text-container">
    <h1>Grand Theft Auto III</h1>
    <p data-i18n="home.iii.text.first">
        <span style="font-weight: bold; color: rgb(231, 183, 61)"
            >Grand Theft Auto III</span
        >
        es un videojuego de acción y sandbox de mundo abierto desarrollado por DMA
        Design (actualmente Rockstar North) y distribuido por Rockstar Games lanzado
        el 23 de octubre de 2001. Es el primer Grand Theft Auto con vista en tercera
        persona y en 3D, sentando un precendente en la saga.
    </p>

    <p data-i18n="home.iii.text.second">
        El juego transcurre en Liberty City, una ciudad ficticia parodia de
        Nueva York. Cuenta con 3 islas principales: Portland, Staunton Island y
        Shoreside Vale, las cuales se irán desbloqueando a medida que se avance
        en la historia.
    </p>

    <p data-i18n="home.iii.text.third">
        El jugador tomará el control de Claude, un hombre que fue arrestrado por
        un robo al Liberty City Bank, donde fue traicionado por su pareja en ese
        momento, Catalina, disparándole en la escena del delito.
        Claude deberá hacer misiones con contactos de la mafia Leone, escalando
        entre distintas pandillas, organizaciones y bandas. La historia cuenta
        con un total de 50 misiones.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2 data-i18n="home.characters.title">Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<FichaTecnica
    game="III"
    title="GTA III"
    developers={["DMA Design"]}
    publisher="Rockstar Games"
    producer="Leslie Benzies"
    writers={["Dan Houser", "James Worrall", "Paul Kurowski"]}
    platforms={[
        "PlayStation 2",
        "Xbox",
        "Microsoft Windows",
        "macOS",
        "Android",
        "iOS",
        "PlayStation 3",
        "Amazon Fire OS",
        "PlayStation 4",
        "PlayStation 5",
        "Xbox Series X/S",
        "Nintendo Switch"
    ]}
    dates={[
        {
            platforms: ["PlayStation 2"],
            dates: ["23 de octubre de 2001 (NA)", "26 de octubre de 2001 (EU)"],
        },
        {
            platforms: ["Microsoft Windows"],
            dates: ["21 de mayo de 2002 (NA)", "24 de mayo de 2002 (EU)"],
        },
        {
            platforms: ["Xbox"],
            dates: ["4 de noviembre de 2003 (NA)", "2 de enero de 2004 (EU)"],
        },
        {
            platforms: ["macOS"],
            dates: ["12 de noviembre de 2010"],
        },
        {
            platforms: ["Android", "iOS"],
            dates: ["15 de diciembre de 2011 (10th)"],
        },
        {
            platforms: ["PlayStation 3"],
            dates: ["25 de septiembre de 2012 (NA)", "26 de septiembre de 2012 (EU)"],
        },
        {
            platforms: ["Amazon Fire OS"],
            dates: ["15 de mayo de 2014 (10th)"],
        },
        {
            platforms: ["PlayStation 4, PlayStation 5", "Xbox One, Xbox Series X/S", "Microsoft Windows", "Nintendo Switch"],
            dates: ["11 de noviembre de 2021 (DE)"],
        },
        {
            platforms: ["Android", "iOS"],
            dates: ["14 de diciembre de 2023 (DE)"],
        }
    ]}
    engines={["RenderWare", "Unreal Engine (DE)"]}
    sales="14.5 millones de copias (marzo de 2008)"
/>
