<section class="text-container">
    <h1>Grand Theft Auto III</h1>
    <p>
        <span style="font-weight: bold; color: rgb(231, 183, 61)"
            >Grand Theft Auto III</span
        >
        es un videojuego de acción y sandbox de mundo abierto
        desarrollado por DMA Design (actualmente Rockstar North) y
        distribuido por Rockstar Games lanzado el 23 de octubre de
        2001. Es el primer Grand Theft Auto con vista en tercera
        persona y en 3D, sentando un precendente en la saga.
    </p>

    <p>
        El juego transcurre en Liberty City, una ciudad ficticia
        parodia de Nueva York. Cuenta con 3 islas principales:
        Portland, Staunton Island y Shoreside Vale, las cuales se
        irán desbloqueando a medida que se avance en la historia.
    </p>

    <p>
        El jugador tomará el control de Claude, un hombre que fue
        arrestrado por un robo al Liberty City Bank, donde fue
        traicionado por su pareja en ese momento, Catalina,
        disparándole en su hombro en la escena del delito. Claude
        deberá hacer misiones con contactos de la mafia Leone,
        escalando entre distintas pandillas, organizaciones y
        bandas. La historia cuenta con un total de 50 misiones.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<aside class="ficha-tecnica">
    <table>
        <thead>
            <tr>
                <th colspan="2" class="portada">
                    <img
                        src="/assets/images/main/boxarts/portada_III.webp"
                        alt="Portada de GTA III"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>DESARROLLADOR</th>
                <td>DMA Design</td>
            </tr>
            <tr>
                <th>DISTRIBUIDOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>PRODUCTOR</th>
                <td>Leslie Benzies</td>
            </tr>
            <tr>
                <th>GUIONISTAS</th>
                <td>
                    <ul>
                        <li>Dan Houser</li>
                        <li>James Worrall</li>
                        <li>Paul Kurowski</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PLATAFORMAS</th>
                <td>
                    <ul>
                        <li>PlayStation 2</li>
                        <li>Xbox</li>
                        <li>Microsoft Windows</li>
                        <li>macOS</li>
                        <li>Android</li>
                        <li>iOS</li>
                        <li>PlayStation 3</li>
                        <li>Amazon Fire OS</li>
                        <li>PlayStation 4</li>
                        <li>PlayStation 5</li>
                        <li>Xbox Series X/S</li>
                        <li>Nintendo Switch</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>FECHA DE LANZAMIENTO</th>
                <td>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 2</span>
                        <span>23 de octubre de 2001 (NA)</span>
                        <span>26 de octubre de 2001 (EU)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span>21 de mayo de 2002 (NA)</span>
                        <span>24 de mayo de 2002 (EU)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform">Xbox</span>
                        <span>4 de noviembre de 2003 (NA)</span>
                        <span>2 de enero de 2004 (EU)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform">macOS</span>
                        <span>12 de noviembre de 2010</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform">Android</span>
                        <span class="platform">iOS</span>
                        <span>15 de diciembre de 2011 (10th)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform">PlayStation 3</span>
                        <span>25 de septiembre de 2012 (NA)</span>
                        <span>26 de septiembre de 2012 (EU)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform">Amazon Fire OS</span>
                        <span>15 de mayo de 2014 (10th)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform">
                            PlayStation 4, PlayStation 5
                        </span>
                        <span class="platform">
                            Xbox One, Xbox Series X/S
                        </span>
                        <span class="platform">
                            Microsoft Windows
                        </span>
                        <span class="platform">
                            Nintendo Switch
                        </span>
                        <span>11 de noviembre de 2021 (DE)</span>
                    </div>

                    <div class="platform-entry">
                        <span class="platform"> Android </span>
                        <span class="platform"> iOS </span>
                        <span>14 de diciembre de 2023 (DE)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>MOTOR GRÁFICO</th>
                <td>
                    <ul>
                        <li>RenderWare</li>
                        <li>Unreal Engine (DE)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>VENTAS</th>
                <td>14.5 millones de copias (marzo de 2008)</td>
            </tr>
        </tbody>
    </table>
</aside>
