---
import FichaTecnica from "../FichaTecnica.astro";
---

<section class="text-container main">
    <h1>Grand Theft Auto: Liberty City Stories</h1>
    <p data-i18n="home.lcs.text.first">
        <span style="font-weight: bold; color: #f29997"
            >Grand Theft Auto: Liberty City Stories</span
        >
        es un videojuego desarrollado por Rockstar Leeds y distribuido por Rockstar
        Games, lanzado originalmente para la PlayStation Portable el 25 de octubre
        de 2005, y siendo porteado a PlayStation 2 más tarde, el 6 de junio de 2006.
    </p>

    <p data-i18n="home.lcs.text.second">
        La historia del juego transcurre en 1998, en Liberty City. Controlaremos
        a Toni Cipriani, un criminal integrante de la mafia de la Familia Leone
    </p>

    <p data-i18n="home.lcs.text.third">
        Es el primer juego de la saga en ofrecer un modo multijugador oficial.
        El mismo estuvo disponible para PlayStation Portable mediante el uso de
        Ad-Hoc, y contó con 7 modos de juego diferentes que iban desde Carreras,
        Partidas a muerte y diversos modos de equipos. También, habían más de 40
        personajes para elegir
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2 data-i18n="home.characters.title">Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<FichaTecnica
    game="LCS"
    title="GTA Liberty City Stories"
    developers={["Rockstar North", "Rockstar Leeds"]}
    publisher="Rockstar Games"
    producer="Leslie Benzies"
    writers={["Dan Houser", "James Worrall", "David Bland"]}
    platforms={[
        "PlayStation Portable",
        "PlayStation 2",
        "iOS",
        "Android",
        "Amazon Fire OS",
    ]}
    dates={[
        {
            platforms: ["PlayStation Portable"],
            dates: [
                "25 de octubre de 2005 (NA)",
                "4 de noviembre de 2005 (EU)",
            ],
        },
        {
            platforms: ["PlayStation 2"],
            dates: ["6 de junio de 2006 (NA)", "23 de junio de 2006 (EU)"],
        },
        {
            platforms: ["iOS"],
            dates: ["17 de diciembre de 2015 (10th)"],
        },
        {
            platforms: ["Android"],
            dates: ["11 de febrero de 2016 (10th)"],
        },
        {
            platforms: ["Amazon Fire OS"],
            dates: ["11 de marzo de 2016 (10th)"],
        },
    ]}
    engines={["Rockstar Leeds 3D Engine"]}
    sales="11 millones de copias (marzo de 2017)"
/>
