<section class="text-container main">
    <h1>Grand Theft Auto: Liberty City Stories</h1>
    <p>
        <span style="font-weight: bold; color: #f29997"
            >Grand Theft Auto: Liberty City Stories</span
        >
        es un videojuego desarrollado por Rockstar Leeds y
        distribuido por Rockstar Games, lanzado originalmente para
        la PlayStation Portable el 25 de octubre de 2005, y siendo
        porteado a PlayStation 2 más tarde, el 6 de junio de 2006.
    </p>

    <p>
        La historia del juego transcurre en 1998, en Liberty City.
        Controlaremos a Toni Cipriani, un criminal integrante de la
        mafia de la Familia Leone
    </p>

    <p>
        Es el primer juego de la saga en ofrecer un modo
        multijugador oficial. El mismo estuvo disponible para
        PlayStation Portable mediante el uso de Ad-Hoc, y contó con
        7 modos de juego diferentes que iban desde Carreras,
        Partidas a muerte y diversos modos de equipos. También,
        habían más de 40 personajes para elegir
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<aside class="ficha-tecnica">
    <table>
        <thead>
            <tr>
                <th colspan="2" class="portada">
                    <img
                        src="/assets/images/main/boxarts/portada_LCS.webp"
                        alt="Portada de GTA LCS"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>DESARROLLADORES</th>
                <td>Rockstar North<br />Rockstar Leeds</td>
            </tr>
            <tr>
                <th>DISTRIBUIDOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>PRODUCTOR</th>
                <td>Leslie Benzies</td>
            </tr>
            <tr>
                <th>GUIONISTAS</th>
                <td>
                    <ul>
                        <li>Dan Houser</li>
                        <li>James Worrall</li>
                        <li>David Bland</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PLATAFORMAS</th>
                <td>
                    <ul>
                        <li>PlayStation Portable</li>
                        <li>PlayStation 2</li>
                        <li>iOS</li>
                        <li>Android</li>
                        <li>Amazon Fire OS</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>FECHA DE LANZAMIENTO</th>
                <td>
                    <div class="platform-entry">
                        <span class="platform"
                            >PlayStation Portable</span
                        >
                        <span>25 de octubre de 2005 (NA)</span>
                        <span>4 de noviembre de 2005 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 2</span>
                        <span>6 de junio de 2006 (NA)</span>
                        <span>23 de junio de 2006 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">iOS</span>
                        <span>17 de diciembre de 2015 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Android</span>
                        <span>11 de febrero de 2016 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Amazon Fire OS</span>
                        <span>11 de marzo de 2016 (10th)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>MOTOR GRÁFICO</th>
                <td>
                    <ul>
                        <li>Rockstar Leeds 3D Engine</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>VENTAS</th>
                <td>11 millones de copias (marzo de 2017)</td>
            </tr>
        </tbody>
    </table>
</aside>
