---
import FichaTecnica from "../FichaTecnica.astro";
---

<section class="text-container">
    <h1>Grand Theft Auto: San Andreas</h1>
    <p data-i18n="home.sa.text.first">
        <span style="font-weight: bold; color: #cefcb5"
            >Grand Theft Auto: San Andreas</span
        >
        es un videojuego de acción y sandbox de mundo abierto desarrollado por Rockstar
        North y distribuido por Rockstar Games lanzado originalmente el 26 de octubre
        de 2004 para PlayStation 2.
    </p>

    <p data-i18n="home.sa.text.second">
        El juego transcurre en el año 1992, principalmente en una parodia de Los
        Angeles llamada Los Santos. Allí, el protagonista principal (Carl
        Johnson), volverá a la ciudad para el funeral de su madre asesinada,
        luego de 5 años viviendo en Liberty City.
    </p>

    <p data-i18n="home.sa.text.third">
        El videojuego se destaca por su gran densidad de ubicaciones y terrenos.
        Cuenta con 3 ciudades principales: Los Santos, San Fierro y Las
        Venturas, además de contar con otros grandes repartidos por todo el
        mapa: el campo y sus condados Whetstone, Flint County y Red County, y el
        desierto de Bone County y Tierra Robada.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2 data-i18n="home.characters.title">Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<FichaTecnica
    game="SA"
    title="GTA San Andreas"
    developers={["Rockstar North"]}
    publisher="Rockstar Games"
    producer="Leslie Benzies"
    writers={["Dan Houser", "James Worrall", "DJ Pooh"]}
    platforms={[
        "PlayStation 2",
        "Xbox",
        "Microsoft Windows",
        "macOS",
        "Android",
        "iOS",
        "Windows Phone",
        "Amazon Fire OS",
        "Xbox 360",
        "PlayStation 3",
        "PlayStation 4",
        "PlayStation 5",
        "Xbox Series X/S",
        "Nintendo Switch",
    ]}
    dates={[
        {
            platforms: ["PlayStation 2"],
            dates: ["26 de octubre de 2004 (NA)", "29 de octubre de 2004 (EU)"],
        },
        {
            platforms: ["Xbox", "Microsoft Windows"],
            dates: ["7 de junio de 2005 (NA)", "10 de junio de 2005 (EU)"],
        },
        {
            platforms: ["macOS"],
            dates: ["12 de noviembre de 2010"],
        },
        {
            platforms: ["iOS"],
            dates: ["12 de diciembre de 2013 (10th)"],
        },
        {
            platforms: ["Android"],
            dates: ["19 de diciembre de 2013 (10th)"],
        },
        {
            platforms: ["Windows Phone"],
            dates: ["27 de enero de 2014 (10th)"],
        },
        {
            platforms: ["Amazon Fire OS"],
            dates: ["15 de mayo de 2014 (10th)"],
        },
        {
            platforms: ["Xbox 360"],
            dates: ["26 de octubre de 2014 (10th)"],
        },
        {
            platforms: ["PlayStation 3"],
            dates: ["1 de diciembre de 2015 (10th)"],
        },
        {
            platforms: [
                "PlayStation 4, PlayStation 5",
                "Xbox One, Xbox Series X/S",
                "Microsoft Windows",
                "Nintendo Switch",
            ],
            dates: ["11 de noviembre de 2021 (DE)"],
        },
        {
            platforms: ["Android", "iOS"],
            dates: ["14 de diciembre de 2023 (DE)"],
        },
    ]}
    engines={["RenderWare", "Unreal Engine (DE)"]}
    sales="21.5 millones de copias (2008)"
/>
