<section class="text-container">
    <h1>Grand Theft Auto: San Andreas</h1>
    <p>
        <span style="font-weight: bold; color: #cefcb5"
            >Grand Theft Auto: San Andreas</span
        >
        es un videojuego de acción y sandbox de mundo abierto
        desarrollado por Rockstar North y distribuido por Rockstar
        Games lanzado originalmente el 26 de octubre de 2004 para
        PlayStation 2.
    </p>

    <p>
        El juego transcurre en el año 1992, principalmente en una
        parodia de Los Angeles llamada Los Santos. Allí, el
        protagonista principal (Carl Johnson), volverá a la ciudad
        para el funeral de su madre asesinada, luego de 5 años
        viviendo en Liberty City.
    </p>

    <p>
        El videojuego se destaca por su gran densidad de ubicaciones
        y terrenos. Cuenta con 3 ciudades principales: Los Santos,
        San Fierro y Las Venturas, además de contar con otros
        grandes repartidos por todo el mapa: el campo y sus condados
        Whetstone, Flint County y Red County, y el desierto de Bone
        County y Tierra Robada.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<aside class="ficha-tecnica">
    <table>
        <thead>
            <tr>
                <th colspan="2" class="portada">
                    <img
                        src="/assets/images/main/boxarts/portada_SA.webp"
                        alt="Portada de GTA SA"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>DESARROLLADOR</th>
                <td>Rockstar North</td>
            </tr>
            <tr>
                <th>DISTRIBUIDOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>PRODUCTOR</th>
                <td>Leslie Benzies</td>
            </tr>
            <tr>
                <th>GUIONISTAS</th>
                <td>
                    <ul>
                        <li>Dan Houser</li>
                        <li>James Worrall</li>
                        <li>DJ Pooh</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PLATAFORMAS</th>
                <td>
                    <ul>
                        <li>PlayStation 2</li>
                        <li>Xbox</li>
                        <li>Microsoft Windows</li>
                        <li>macOS</li>
                        <li>Android</li>
                        <li>iOS</li>
                        <li>Windows Phone</li>
                        <li>Amazon Fire OS</li>
                        <li>Xbox 360</li>
                        <li>PlayStation 3</li>
                        <li>PlayStation 4</li>
                        <li>PlayStation 5</li>
                        <li>Xbox Series X/S</li>
                        <li>Nintendo Switch</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>FECHA DE LANZAMIENTO</th>
                <td>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 2</span>
                        <span>26 de octubre de 2004 (NA)</span>
                        <span>29 de octubre de 2004 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Xbox</span>
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span>7 de junio de 2005 (NA)</span>
                        <span>10 de junio de 2005 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">macOS</span>
                        <span>12 de noviembre de 2010</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">iOS</span>
                        <span>12 de diciembre de 2013 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Android</span>
                        <span>19 de diciembre de 2013 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Windows Phone</span>
                        <span>27 de enero de 2014 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Amazon Fire OS</span>
                        <span>15 de mayo de 2014 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Xbox 360</span>
                        <span>26 de octubre de 2014 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 3</span>
                        <span>1 de diciembre de 2015 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform"
                            >PlayStation 4, PlayStation 5</span
                        >
                        <span class="platform"
                            >Xbox One, Xbox Series X/S</span
                        >
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span class="platform"
                            >Nintendo Switch</span
                        >
                        <span>11 de noviembre de 2021 (DE)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Android</span>
                        <span class="platform">iOS</span>
                        <span>14 de diciembre de 2023 (DE)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>MOTOR GRÁFICO</th>
                <td>
                    <ul>
                        <li>RenderWare</li>
                        <li>Unreal Engine (DE)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>VENTAS</th>
                <td>21.5 millones de copias (2008)</td>
            </tr>
        </tbody>
    </table>
</aside>
