<section class="text-container">
    <h1>Grand Theft Auto V</h1>
    <p>
        <span
            style="
                color: rgba(93, 182, 229, 255);
                text-shadow: 3px 3px #000;
                font-weight: bold;
            "
            >Grand Theft Auto V</span
        >
        es un videojuego de acción y sandbox de mundo abierto
        desarrollado por Rockstar North y distribuido por Rockstar
        Games lanzado originalmente para PlayStation 3 y Xbox 360 el
        17 de septiembre de 2013. También cuenta con versiones para
        consolas de octava generación (PlayStation 4 y Xbox One)
        llamada 'Enhanced', y para consolas de novena generación
        (PlayStation 5 y Xbox Series X/S) llamada 'Expanded &
        Enhanced'.
    </p>

    <p>
        La historia transcurre en Los Santos, una parodia de Los
        Ángeles, y en Blaine County, correspondiente al desierto de
        California. El jugador tomará el control de tres personajes:
        Michael de Santa, Franklin Clinton y Trevor Philips.
    </p>

    <p>
        Es el segundo juego más vendido de la historia, con 225
        millones de copias vendidas hasta la fecha, solo siendo
        superado por Minecraft.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<aside class="ficha-tecnica">
    <table>
        <thead>
            <tr>
                <th colspan="2" class="portada">
                    <img
                        src="/assets/images/main/boxarts/portada_V.webp"
                        alt="Portada de GTA V"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>DESARROLLADOR</th>
                <td>Rockstar North</td>
            </tr>
            <tr>
                <th>DISTRIBUIDOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>PRODUCTOR</th>
                <td>Leslie Benzies</td>
            </tr>
            <tr>
                <th>GUIONISTAS</th>
                <td>
                    <ul>
                        <li>Dan Houser</li>
                        <li>Rupert Humphries</li>
                        <li>Michael Unsworth</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PLATAFORMAS</th>
                <td>
                    <ul>
                        <li>PlayStation 3</li>
                        <li>Xbox 360</li>
                        <li>PlayStation 4</li>
                        <li>Xbox One</li>
                        <li>Microsoft Windows</li>
                        <li>PlayStation 5</li>
                        <li>Xbox Series X/S</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>FECHA DE LANZAMIENTO</th>
                <td>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 3</span>
                        <span class="platform">Xbox 360</span>
                        <span>17 de septiembre de 2013</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 4</span>
                        <span class="platform">Xbox One</span>
                        <span
                            >18 de noviembre de 2014
                            (Enhanced)</span
                        >
                    </div>
                    <div class="platform-entry">
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span>14 de abril de 2015</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 5</span>
                        <span class="platform"
                            >Xbox Series X/S</span
                        >
                        <span
                            >15 de marzo de 2022 (Expanded &
                            Enhanced)</span
                        >
                    </div>
                    <div class="platform-entry">
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span>4 de marzo de 2025 (Enhanced)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>MOTOR GRÁFICO</th>
                <td>
                    <ul>
                        <li>RAGE</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>VENTAS</th>
                <td>225 millones de copias (febrero de 2026)</td>
            </tr>
        </tbody>
    </table>
</aside>
