<section class="text-container">
    <h1>Grand Theft Auto: Vice City</h1>
    <p>
        <span style="font-weight: bold; color: #13ebffef"
            >Grand Theft Auto: Vice City</span
        >
        es un videojuego de acción y sandbox de mundo abierto
        desarrollado por Rockstar North y distribuido por Rockstar
        Games, lanzado el 29 de octubre de 2002.
    </p>

    <p>
        El juego transcurre en Vice City, una ciudad ficticia
        parodia de Miami, en el año 1986.
    </p>

    <p>
        El jugador tomará el control de Tommy Vercetti, un hombre
        que salió de prisión tras cumplir una sentencia de 15 años,
        quién deberá supervisar un trato de drogas a pedido de la
        familia Forelli. Tras salir mal y perder el dinero de Sonny
        Forelli, Tommy comienza en la búsqueda del responsable,
        trabajando para varias figuras importantes del submundo
        criminal de Vice City.
    </p>

    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<aside class="ficha-tecnica">
    <table>
        <thead>
            <tr>
                <th colspan="2" class="portada">
                    <img
                        src="/assets/images/main/boxarts/portada_VC.webp"
                        alt="Portada de GTA VC"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>DESARROLLADOR</th>
                <td>Rockstar North</td>
            </tr>
            <tr>
                <th>DISTRIBUIDOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>PRODUCTOR</th>
                <td>Leslie Benzies</td>
            </tr>
            <tr>
                <th>GUIONISTAS</th>
                <td>
                    <ul>
                        <li>Dan Houser</li>
                        <li>James Worrall</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PLATAFORMAS</th>
                <td>
                    <ul>
                        <li>PlayStation 2</li>
                        <li>Xbox</li>
                        <li>Microsoft Windows</li>
                        <li>macOS</li>
                        <li>Android</li>
                        <li>iOS</li>
                        <li>PlayStation 3</li>
                        <li>Amazon Fire OS</li>
                        <li>PlayStation 4</li>
                        <li>PlayStation 5</li>
                        <li>Xbox Series X/S</li>
                        <li>Nintendo Switch</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>FECHA DE LANZAMIENTO</th>
                <td>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 2</span>
                        <span>29 de octubre de 2002 (NA)</span>
                        <span>8 de noviembre de 2002 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span>13 de mayo de 2003 (NA)</span>
                        <span>16 de mayo de 2003 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Xbox</span>
                        <span>4 de noviembre de 2003 (NA)</span>
                        <span>2 de enero de 2004 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">macOS</span>
                        <span>12 de noviembre de 2010</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">iOS</span>
                        <span>6 de diciembre de 2012 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Android</span>
                        <span>12 de diciembre de 2012 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 3</span>
                        <span>29 de enero de 2013 (NA)</span>
                        <span>30 de enero de 2013 (EU)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Amazon Fire OS</span>
                        <span>15 de mayo de 2014 (10th)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform"
                            >PlayStation 4, PlayStation 5</span
                        >
                        <span class="platform"
                            >Xbox One, Xbox Series X/S</span
                        >
                        <span class="platform"
                            >Microsoft Windows</span
                        >
                        <span class="platform"
                            >Nintendo Switch</span
                        >
                        <span>11 de noviembre de 2021 (DE)</span>
                    </div>
                    <div class="platform-entry">
                        <span class="platform">Android</span>
                        <span class="platform">iOS</span>
                        <span>14 de diciembre de 2023 (DE)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>MOTOR GRÁFICO</th>
                <td>
                    <ul>
                        <li>RenderWare</li>
                        <li>Unreal Engine (DE)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>VENTAS</th>
                <td>17.5 millones de copias (marzo de 2008)</td>
            </tr>
        </tbody>
    </table>
</aside>
