---
import FichaTecnica from "../FichaTecnica.astro";
---

<section class="text-container">
    <h1>Grand Theft Auto: Vice City</h1>
    <p>
        <span style="font-weight: bold; color: #13ebffef"
            >Grand Theft Auto: Vice City</span
        >
        es un videojuego de acción y sandbox de mundo abierto desarrollado por Rockstar
        North y distribuido por Rockstar Games, lanzado el 29 de octubre de 2002.
    </p>

    <p>
        El juego transcurre en Vice City, una ciudad ficticia parodia de Miami,
        en el año 1986.
    </p>

    <p>
        El jugador tomará el control de Tommy Vercetti, un hombre que salió de
        prisión tras cumplir una sentencia de 15 años, quién deberá supervisar
        un trato de drogas a pedido de la familia Forelli. Tras salir mal y
        perder el dinero de Sonny Forelli, Tommy comienza en la búsqueda del
        responsable, trabajando para varias figuras importantes del submundo
        criminal de Vice City.
    </p>

    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<FichaTecnica
    game="VC"
    title="GTA Vice City"
    developers={["Rockstar North"]}
    publisher="Rockstar Games"
    producer="Leslie Benzies"
    writers={["Dan Houser", "James Worrall"]}
    platforms={[
        "PlayStation 2",
        "Xbox",
        "Microsoft Windows",
        "macOS",
        "Android",
        "iOS",
        "PlayStation 3",
        "Amazon Fire OS",
        "PlayStation 4",
        "PlayStation 5",
        "Xbox Series X/S",
        "Nintendo Switch",
    ]}
    dates={[
        {
            platforms: ["PlayStation 2"],
            dates: [
                "29 de octubre de 2002 (NA)",
                "8 de noviembre de 2002 (EU)",
            ],
        },
        {
            platforms: ["Microsoft Windows"],
            dates: ["13 de mayo de 2003 (NA)", "16 de mayo de 2003 (EU)"],
        },
        {
            platforms: ["Xbox"],
            dates: ["4 de noviembre de 2003 (NA)", "2 de enero de 2004 (EU)"],
        },
        {
            platforms: ["macOS"],
            dates: ["12 de noviembre de 2010"],
        },
        {
            platforms: ["iOS"],
            dates: ["6 de diciembre de 2012 (10th)"],
        },
        {
            platforms: ["Android"],
            dates: ["12 de diciembre de 2012 (10th)"],
        },
        {
            platforms: ["PlayStation 3"],
            dates: ["29 de enero de 2013 (NA)", "30 de enero de 2013 (EU)"],
        },
        {
            platforms: ["Amazon Fire OS"],
            dates: ["15 de mayo de 2014 (10th)"],
        },
        {
            platforms: [
                "PlayStation 4, PlayStation 5",
                "Xbox One, Xbox Series X/S",
                "Microsoft Windows",
                "Nintendo Switch",
            ],
            dates: ["11 de noviembre de 2021 (DE)"],
        },
        {
            platforms: ["Android", "iOS"],
            dates: ["14 de diciembre de 2023 (DE)"],
        },
    ]}
    engines={["RenderWare", "Unreal Engine (DE)"]}
    sales="17.5 millones de copias (marzo de 2008)"
/>
