---
import FichaTecnica from "../FichaTecnica.astro";
---

<section class="text-container">
    <h1>Grand Theft Auto: Vice City Stories</h1>
    <p>
        <span style="font-weight: bold; color: rgb(225, 151, 242)"
            >Grand Theft Auto: Vice City Stories</span
        >
        es un videojuego de acción y sandbox de mundo abierto desarrollado por Rockstar
        Leeds y distribuido por Rockstar Games, lanzado el 31 de octubre de 2006 para
        PlayStation Portable y el 5 de marzo de 2007 para PlayStation 2.
    </p>

    <p>
        El juego transcurre dos años antes de los sucesos de Grand Theft Auto:
        Vice City, y nos cuenta la historia de Victor Vance y su intento por
        construir un imperio criminal por toda la ciudad junto a su hermano
        Lance.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>

<FichaTecnica
    game="VCS"
    title="GTA Vice City Stories"
    developers={["Rockstar North", "Rockstar Leeds"]}
    publisher="Rockstar Games"
    producer="Leslie Benzies"
    writers={["Dan Houser", "David Bland"]}
    platforms={["PlayStation Portable", "PlayStation 2"]}
    dates={[
        {
            platforms: ["PlayStation Portable"],
            dates: [
                "31 de octubre de 2006 (NA)",
                "3 de noviembre de 2006 (EU)",
                "10 de noviembre de 2006 (AU)",
            ],
        },
        {
            platforms: ["PlayStation 2"],
            dates: ["5 de marzo de 2007 (NA)", "9 de marzo de 2007 (EU)"],
        },
    ]}
    engines={["Rockstar Leeds 3D Engine"]}
    sales="6 millones de copias (marzo de 2017)"
/>
