<section class="text-container">
    <h1>Grand Theft Auto VI</h1>
    <p>
        <span style="font-weight: 800">Grand Theft Auto VI</span> es
        el próximo juego que será lanzado por Rockstar Games el 19
        de noviembre de 2026. Corresponde al desarrollo más largo de
        un videojuego de la saga, habiendo pasado más de 13 años
        desde su antecesor.
    </p>

    <p>
        El juego transcurre en el estado de Leonida, una parodia
        del estado de Florida. Contará con hasta 6 ubicaciones
        conocidas: Vice City (Miami), los Cayos de Leonida (Florida
        Keys), Grassrivers (Everglades), Port Gelhorn, Ambrosia y
        Monte Kalaga
    </p>

    <p>
        El jugador controlará a Jason Duval y Lucia Caminos, una
        pareja criminal que deberá enfrentarse a una conspiración
        criminal en su contra, confiando el uno al otro para
        sobrevivir.
    </p>
    <div class="characters-container">
        <div class="characters-header">
            <h2>Personajes</h2>
        </div>
        <div class="characters-list"></div>
    </div>
</section>
<aside class="ficha-tecnica">
    <table>
        <thead>
            <tr>
                <th colspan="2" class="portada">
                    <img
                        src="/assets/images/main/boxarts/portada_VI.webp"
                        alt="Portada de GTA VI"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>DESARROLLADOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>DISTRIBUIDOR</th>
                <td>Rockstar Games</td>
            </tr>
            <tr>
                <th>PRODUCTOR</th>
                <td>?</td>
            </tr>
            <tr>
                <th>GUIONISTAS</th>
                <td>
                    <ul>
                        <li>?</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PLATAFORMAS</th>
                <td>
                    <ul>
                        <li>PlayStation 5</li>
                        <li>Xbox Series X/S</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>FECHA DE LANZAMIENTO</th>
                <td>
                    <div class="platform-entry">
                        <span class="platform">PlayStation 5</span>
                        <span class="platform"
                            >Xbox Series X/S</span
                        >
                        <span>19 de noviembre de 2026</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>MOTOR GRÁFICO</th>
                <td>
                    <ul>
                        <li>RAGE</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</aside>
