---
import BaseLayout from "../layouts/BaseLayout.astro";
import Loader from "../components/Loader.astro";
---

<BaseLayout
  title="Vice Club | La página definitiva de la saga GTA"
  description="Guías completas de GTA, checklists para el 100%, mapas interactivos, mods, trucos y radios de GTA San Andreas, GTA 5, GTA 6 y más"
  canonical="https://www.viceclub.app/"
  bodyClass="index"
  isIndex={true}
>
    <Loader slot="loader" />

    <main
        class="block"
        id="container"
        style="opacity: 0; transition: opacity 0.8s ease"
    >
        <section class="welcome-wrapper">
            <h1 class="welcome-title" id="title">BIENVENIDO A VICE CLUB</h1>
            <div class="fotd-container">
                <div class="fotd-header">
                    <h2>DATO DEL DÍA</h2>
                    <img src="" alt="" />
                </div>
                <div class="fotd-image">
                    <img alt="Imagen del dato del día" />
                </div>
                <div class="fotd-description">
                    <p></p>
                </div>
                <div class="fotd-buttons"></div>
            </div>
            <div class="welcome-text">
                <p class="index-text">
                    Aquí podrás encontrar todo lo que buscas sobre los
                    juegos de la saga GTA: <span>Información</span>,
                    <span>noticias</span>, todos los <span>trucos</span> y
                    <span>mods indispensables</span> para tu partida,
                    <span>mapas interactivos</span> para completar los
                    coleccionables mientras juegas, todas las
                    <span>radios</span> disponibles para escuchar en tu día
                    a día, curiosidades y mucho más
                </p>
                <p class="index-text">
                    ¡Actualizaciones de contenido <span>cada semana</span>!
                    No dudes en visitarnos a menudo y agregar la página a
                    favoritos (o incluso instalarla como una aplicación
                    independiente!)
                </p>
            </div>
        </section>

        <section class="countdown-wrapper">
            <div class="countdown-header">
                <h2>Lanzamiento de Grand Theft Auto VI</h2>
            </div>
            <div id="countdown">
                <div class="time-box">
                    <span id="days">0</span>
                    <p>DÍAS</p>
                    <div class="time-separator">:</div>
                </div>

                <div class="time-box">
                    <span id="hours">0</span>
                    <p>HORAS</p>
                    <div class="time-separator">:</div>
                </div>

                <div class="time-box">
                    <span id="minutes">0</span>
                    <p>MINUTOS</p>
                    <div class="time-separator">:</div>
                </div>

                <div class="time-box">
                    <span id="seconds">0</span>
                    <p>SEGUNDOS</p>
                </div>
            </div>
        </section>

        <section class="logo-carousel">
            <h2>Explora Vice Club</h2>
            <div class="carousel-wrapper">
                <a href="/III/inicio">
                    <img
                        src="/assets/images/icons/games/logos/III.webp"
                        alt="Logo de GTA 3"
                        loading="lazy"
                    />
                    <span>GTA III</span>
                </a>
                <a href="/VC/inicio">
                    <img
                        src="/assets/images/icons/games/logos/VC.webp"
                        alt="Logo de GTA Vice City"
                        loading="lazy"
                    />
                    <span>GTA Vice City</span>
                </a>
                <a href="/SA/inicio">
                    <img
                        src="/assets/images/icons/games/logos/SA.webp"
                        alt="Logo de GTA San Andreas"
                        loading="lazy"
                    />
                    <span>GTA San Andreas</span>
                </a>
                <a href="/LCS/inicio">
                    <img
                        src="/assets/images/icons/games/logos/LCS.webp"
                        alt="Logo de GTA Liberty City Stories"
                        loading="lazy"
                    />
                    <span>GTA Liberty City Stories</span>
                </a>
                <a href="/VCS/inicio">
                    <img
                        src="/assets/images/icons/games/logos/VCS.webp"
                        alt="Logo de GTA Vice City Stories"
                        loading="lazy"
                    />
                    <span>GTA Vice City Stories</span>
                </a>
                <a href="/IV/inicio">
                    <img
                        src="/assets/images/icons/games/logos/IV.webp"
                        alt="Logo de GTA 4"
                        loading="lazy"
                    />
                    <span>GTA IV</span>
                </a>
                <a href="/V/inicio">
                    <img
                        src="/assets/images/icons/games/logos/V.webp"
                        alt="Logo de GTA 5"
                        loading="lazy"
                    />
                    <span>GTA V</span>
                </a>
                <a href="/VI/inicio">
                    <img
                        src="/assets/images/icons/games/logos/VI.webp"
                        alt="Logo de GTA 6"
                        loading="lazy"
                    />
                    <span>GTA VI</span>
                </a>
        </div>
        </section>

        <section class="news">
            <h2>ÚLTIMAS NOTICIAS</h2>
            <div id="newsContainer"></div>
            <button id="loadNews" aria-label="Cargar más noticias">
                CARGAR MÁS NOTICIAS
                <span class="material-symbols-rounded">expand_more</span>
            </button>
        </section>

        <section class="faq">
            <details>
                <summary>PREGUNTAS FRECUENTES</summary>
                <h3>
                    <span class="material-symbols-rounded">apps</span>Sobre
                    Vice Club
                </h3>
                <div class="faq-section">
                    <article class="faq-question">
                        <h4>¿Qué puedo encontrar en Vice Club?</h4>
                        <p>
                            En Vice Club encontrarás toda la información
                            relacionada a cada juego principal de la saga
                            GTA. Tendrás acceso a todos los trucos, radios,
                            mapas interactivos, mods, noticias y mucho más.
                        </p>
                    </article>

                    <article class="faq-question">
                        <h4>¿Cómo busco información por juego?</h4>
                        <p>
                            Muy sencillo. Simplemente tienes que tocar en el
                            menú de arriba a la derecha, y podrás elegir el
                            juego que deseas consultar. Para volver a esta
                            página principal, es tan sencillo como tocar en
                            el logo de Vice Club de arriba a la izquierda.
                        </p>
                    </article>

                    <article class="faq-question">
                        <h4>¿Cómo nace Vice Club?</h4>
                        <p>
                            Vice Club nace como un proyecto personal de
                            desarrollo web, el cual comencé a idearlo a
                            principios de 2025. Me pareció una buena idea
                            para poder practicar mis conocimientos en
                            desarrollo front-end mientras plasmo todo en un
                            sitio web dedicado a una de mis sagas favoritas
                            de videojuegos.
                        </p>
                    </article>
                    <article class="faq-question">
                        <h4>
                            ¿Con qué frecuencia se actualiza el contenido?
                        </h4>
                        <p>
                            Prometo traer más información y contenido todas
                            las semanas hasta terminar con mis
                            <a
                                href="https://github.com/sebastian-fraga/viceclub/issues"
                                referrerpolicy="no-referrer"
                                >tareas</a
                            >.
                        </p>
                    </article>
                    <article class="faq-question">
                        <h4>
                            ¿Puedo sugerir contenido, reportar algún error o
                            simplemente colaborar en el desarrollo?
                        </h4>
                        <p>
                            ¡Por supuesto! Vice Club es de código abierto y
                            su repositorio puede encontrarse en
                            <a
                                href="https://github.com/sebastian-fraga/viceclub"
                                referrerpolicy="no-referrer"
                                >GitHub</a
                            >.
                        </p>
                    </article>
                </div>
                <h3>
                    <span class="material-symbols-rounded">person</span>
                    Sobre mí
                </h3>
                <div class="faq-section">
                    <article class="faq-question">
                        <h4>¿Quién soy?</h4>
                        <p>
                            Mi nombre es Sebastián. Soy un desarrollador web
                            front-end nacido en Argentina y fanático de la
                            saga GTA.
                        </p>
                    </article>

                    <article class="faq-question">
                        <h4>¿Cómo puedo contactarte?</h4>
                        <p>
                            Puedes enviarme un
                            <a href="mailto:fragasebastian1@gmail.com"
                                >correo electrónico</a
                            >
                            o contactarme por
                            <a
                                href="https://github.com/sebastian-fraga"
                                referrerpolicy="no-referrer"
                                >GitHub</a
                            >.
                        </p>
                    </article>

                    <article class="faq-question">
                        <h4>¿Juego favorito de la saga?</h4>
                        <p>
                            Sin ningún tipo de dudas, San Andreas. Por todo
                            lo que significó y sigue haciendo a más de 20
                            años desde su salida. Menciones honoríficas a la
                            mejor historia de la saga (GTA 4) y a la mejor
                            ambientación (GTA Vice City)
                        </p>
                    </article>
                </div>
            </details>
        </section>

        <section class="support">
            <p>
                Vice Club es un proyecto 100% gratuito, hecho con mucho amor
                por toda la saga. Si te gusta y deseas apoyar el desarrollo,
                podés invitarme un café:
            </p>
            <div class="support-buttons">
                <article>
                    <a
                        href="https://cafecito.app/sebastianfraga"
                        rel="noopener"
                        target="_blank"
                        ><img
                            srcset="
                                https://cdn.cafecito.app/imgs/buttons/button_3.png       1x,
                                https://cdn.cafecito.app/imgs/buttons/button_3_2x.png    2x,
                                https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x
                            "
                            src="https://cdn.cafecito.app/imgs/buttons/button_3.png"
                            alt="Invitame un café en cafecito.app"
                    /></a>
                </article>
                <article>
                    <script
                        type="text/javascript"
                        src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
                        is:inline
                    ></script>
                    <script type="text/javascript" is:inline>
                        kofiwidget2.init(
                            "Apóyame en Ko-fi",
                            "#72a4f2",
                            "T6T71RM9WX",
                        );
                        kofiwidget2.draw();
                    </script>
                </article>
            </div>
        </section>
    </main>

    <dialog id="imageOverlay" slot="overlay">
        <button
            class="material-symbols-rounded close-btn"
            id="closeBtn"
            aria-label="Cerrar"
        >
            close_small
        </button>
        <figure>
            <div class="image-wrapper">
                <img src="" alt="Imagen ampliada" id="overlayImg" />
            </div>
            <figcaption id="overlayFooterText"></figcaption>
        </figure>
    </dialog>

    <fragment slot="scripts">
        <!-- Loader -->
        <script is:inline>
            window.addEventListener("load", () => {
                const loader = document.getElementById("loader");
                const content = document.getElementById("container");
                const header = document.querySelector("header");
                const footer = document.querySelector("footer");

                setTimeout(() => {
                    loader.classList.add("hidden");
                    document.body.style.overflow = "auto";

                    content.style.display = "flex";
                    header.style.display = "flex";

                    requestAnimationFrame(() => {
                        content.style.opacity = "1";
                        header.style.opacity = "1";
                        footer.style.opacity = "1";
                    });

                    setTimeout(() => loader.remove(), 1200);
                }, 1400);
            });
        </script>

        <!--Facts-->
        <script is:inline src="/assets/scripts/facts.js"></script>

        <!--Countdown-->
        <script is:inline src="/assets/scripts/countdown.js"></script>

        <!--News-->
        <script is:inline src="/assets/scripts/news.js"></script>

        <!--Overlay-->
        <script is:inline src="/assets/scripts/overlay.js"></script>

        <!-- Service Worker -->
        <script is:inline>
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker
                    .register("/sw.js")
                    .then(() => console.log("Service Worker registrado"));
            }
        </script>
    </fragment>
</BaseLayout>
