/* #region FUENTES */

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueHeavy.otf");
}

/* #endregion */

/* #region GENERAL */
:root {
    --font-title: "Helvetica Neue";
    --block-color: #090909f6;
    --block-text: #f4f4f4;
    --block-shadow: #ececec4b;
    --block-border: #b8b8b8;
    --title-color: #e2e2e2;
    --accent-color: #c7c7c7;
}


::selection {
    background: #ffffff;
    color: #1a2a1a;
}

::-moz-selection {
    background: #ffffff;
    color: #1a2a1a;
}

html,
*:hover {
    cursor: url("../cursors/IV.cur"), auto !important;
}

body {
    &::before {
        background-image: url("../images/main/background_IV.webp");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform: scale(1.1);
        z-index: -1;
    }

    &::after {
        content: "";
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--block-border) 10%, var(--block-color)));
    }

    & .block,
    #radioInfo {
        background: linear-gradient(135deg,
                #000000f5 0%,
                #141414f5 50%,
                #000000f5 100%);

    }
}


.text-container {
    & h2 {
        text-shadow: 3px 3px 10px #000000;
    }
}

#rightContent {
    & .right-content-nav {
        & .right-content-links {
            & a {
                font-family: "Helvetica Neue";

                &.active {
                    color: #f2f2f2;
                    background: #eedeed32;

                    &::before {
                        background-color: #f2f2f2;
                    }
                }

                &:active {
                    background: #eedeed56;

                    &::before {
                        background-color: #f2f2f2;
                    }
                }
            }
        }
    }
}

/* #endregion */

/* #region FICHA TÉCNICA */

/* #endregion */

/* #region 100% CHECKLIST */


/* #endregion */

/* #region HERRAMIENTAS Y MODS */

details.mod summary img {
    border-radius: 50%;
    background: #fff;
}

.mods-container {
    & details {
        &[open] {
            & .mod-expanded {
                & nav {
                    & a {
                        & span {
                            color: color-mix(in srgb, var(--accent-color) 75%, var(--block-text));
                        }

                        &.active {
                            border: 2px solid color-mix(in srgb, var(--block-border) 45%, transparent);
                            background: color-mix(in srgb, var(--block-border) 60%, transparent);
                        }
                    }
                }
            }
        }
    }
}

.tab-content[data-content="info"].active .btn-info,
.tab-content[data-content="download"].active .btn-download {
    background: color-mix(in srgb, var(--block-border) 80%, transparent);

    & .material-symbols-rounded {
        color: color-mix(in srgb, var(--accent-color) 40%, var(--block-text));
    }
}

/* #endregion */

/* #region LOGROS  */
.achievement-selector {
    & button {
        opacity: 0.5;
        transition: all 0.2s ease-in-out;

        &.active {
            opacity: 1 !important;
        }

        &:hover {
            outline: none;
            opacity: 0.3;
        }

        &:nth-of-type(2) {
            background: color-mix(in srgb, #BD3434 85%, transparent);
            color: #dfdfdf;
        }

        &:nth-of-type(3) {
            background: linear-gradient(to right, #F1EF8A, #C8597B, #8DCBE6);
            color: #000000;
        }
    }
}


/* #endregion */

/* #region RADIO */

footer {
    & .footer-left {
        & .footer-album {
            & img {
                border: 3px solid var(--accent-color);
                background: linear-gradient(135deg, var(--accent-color), color-mix(in srgb, var(--block-color) 70%, transparent))
            }
        }
    }
}

#radioInfo {
    & #playlistSelector {
        display: flex;
        gap: 1.3em;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        margin-bottom: 1em;

        & button {
            border: none;
            padding: 0;
            background: none;
            color: #F0F0F0;
            font-family: "Helvetica Neue";
            font-size: 1.2em;
            transition: all 0.2s ease-in;
            cursor: pointer;
            font-weight: 100;
            position: relative;

            &:hover {
                opacity: 0.7;
            }


            &.active {
                font-weight: 800;
                color: #E5A13B;
                position: relative;

                &::before {
                    content: "";
                    bottom: 0;
                    z-index: -1;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background: color-mix(in srgb, #E5A13B 90%, transparent);
                }
            }
        }
    }
}

/* #endregion */

/* #region TRUCOS */
.platform-selector {
    display: none;
}



/* #endregion */

/* #region MEDIA QUERIES  */

@media (max-width: 1350px) {

    body {
        &::before {
            background-image: url("../images/main/background_IV-mobile.webp");
        }
    }

    #cheatsContainer {
        min-width: 250px;
    }
}

/* #endregion */