/* #region FUENTES  */

@font-face {
    font-family: "Geneva";
    src: url("../fonts/Geneva.ttf");
}

/* #endregion */

/* #region GENERAL */
:root {
    --font-title: "Geneva";
    --block-color: #011830f3;
    --block-text: #f4f4f4;
    --block-shadow: #e94ad442;
    --block-border: #e360b5;
    --title-color: #faa3ff;
    --accent-color: #f6abfd;
}


::selection {
    background: var(--accent-color);
    color: #1a2a1a;
}

::-moz-selection {
    background: var(--accent-color);
    color: #1a2a1a;
}

html,
*:hover {
    cursor: url("../cursors/III.cur"), auto !important;
}

body {
    &::before {
        background-image: url("../images/main/background_VCS.webp");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform: scale(1.1);
        z-index: -1;
    }

    &::after {
        content: "";
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--block-border) 60%, transparent));
    }

    & .block,
    #radioInfo {
        background: linear-gradient(135deg,
                #270a2ee3 0%,
                #1e081fe3 50%,
                #3a0e38e3 100%);

    }
}

.text-container {
    & h2 {
        text-shadow: 3px 3px 10px #000000;
    }
}


/* #endregion */

/* #region FICHA TÉCNICA */


/* #endregion */

/* #region 100% CHECKLIST */


.checklist-disclaimer {
    font-size: 0.9em;
    color: #c2bdbde7;
    padding-block: 1em;
    text-align: center;
    margin: 0 auto;
}

/* #endregion */

/* #region RADIO */


/* #endregion */

/* #region TRUCOS */

.platform-selector {
    display: none;
}

/* #endregion */

/* #region MEDIA QUERIES  */

@media (max-width: 1350px) {

    body {
        &::before {
            background-image: url("../images/main/background_VCS-mobile.webp");
        }
    }
}

/* #endregion */