/* #region FUENTES */
@font-face {
    font-family: "Arial Black Italic";
    src: url("../fonts/ArialBlackItalic.ttf");
}

@font-face {
    font-family: "Pricedown";
    src: url("../fonts/Pricedown.otf");
}

/* #endregion */

/* #region GENERAL */

:root {
    --font-title: "Arial Black Italic";
    --block-color: #010b1ec7;
    --block-text: #f3f3f3;
    --block-shadow: #2889d338;
    --block-border: #2e9aedcb;
    --title-color: #e7a600;
    --accent-color: #f5cf70;
}

html,
*:hover {
    cursor: url("../cursors/III.cur"), auto !important;
}


body::before {
    background-image: url("../images/main/background_III.webp");
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1);
    z-index: -1;
}

.text-container {
    & h2 {
        text-shadow: 3px 3px 10px #000000;
    }
}

/* #endregion */


/* #region 100% CHECKLIST */

/* #endregion */

/* #region ARTWORKS */

/* #endregion */

/* #region HERRAMIENTAS Y MODS */


details.mod summary img {
    clip-path: polygon(50% 0%,
            75% 6.7%,
            93.3% 25%,
            100% 50%,
            93.3% 75%,
            75% 93.3%,
            50% 100%,
            25% 93.3%,
            6.7% 75%,
            0% 50%,
            6.7% 25%,
            25% 6.7%);
    background: radial-gradient(circle 70px at top left, #5b8ab8, #3d5f9e);
}


/* #endregion */

/* #region LOGROS */

/* #endregion */

/* #region MAPA */

/* #endregion */

/* #region RADIO */

/* #endregion */

/* #region TRUCOS */


/* #endregion */


/* #region MEDIA QUERIES  */

@media (max-width: 1350px) {

    body {
        &::before {
            background-image: url("../images/main/background_III-mobile.webp");
        }
    }
}

/* #endregion */