/* #region FUENTES */

@font-face {
    font-family: "Chalet";
    src: url("../fonts/Chalet.otf");
}

/* #endregion */

/* #region GENERAL */
:root {
    --font-title: "Chalet";
    --block-color: rgba(31, 36, 32, 0.85);
    --block-text: #eaeaea;
    --block-shadow: rgba(4, 102, 69, 0.24);
    --block-border: rgb(42, 105, 76);
    --title-color: rgba(93, 182, 229, 255);
    --accent-color: #6bd1b8bd;
}

::selection {
    background: #bcf19a;
    color: #1a2a1a;
}

::-moz-selection {
    background: #ffffff;
    color: #1a2a1a;
}


body {
    &::before {
        background-image: url("../images/main/background_V.webp");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform: scale(1.1);
        z-index: -1;
    }

    &::after {
        content: "";
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--block-border) 5%, var(--block-color)));
    }

    & .block,
    #radioInfo {
        background: linear-gradient(135deg,
                #060807e3 0%,
                #16241ae3 40%,
                #050706e3 100%);
    }
}

.text-container {
    & h1 {
        text-shadow: 3px 3px #000;
    }
}


/* #endregion */

/* #region FICHA TÉCNICA */
.ficha-tecnica {
    & table {
        & th {
            text-shadow: 2px 2px #000;
        }

        & td {
            & span {
                text-shadow: 2px 2px #000;
            }
        }
    }
}

/* #endregion */

/* #region 100% CHECKLIST */
.progress-wrapper {
    & .progress-bar-bg {
        & .progress-bar-fill {
            background: linear-gradient(90deg, #a0f2f8, #a5ffa4, #ffa85d);
        }
    }
}


/* #endregion */

/* #region HERRAMIENTAS Y MODS */
.mods-container {
    & details {
        &[open] {
            & .mod-expanded {
                & nav {
                    & a {
                        & span {
                            color: color-mix(in srgb, var(--accent-color) 85%, var(--block-text));
                        }

                        &.active {
                            border: 2px solid color-mix(in srgb, var(--block-border) 95%, transparent);
                            background: color-mix(in srgb, var(--block-border) 60%, transparent);
                        }
                    }
                }
            }
        }
    }
}

details.mod summary img {
    border-radius: 30px;
    background: #ffffff91;
}

/* #endregion */

/* #region LOGROS */


/* #endregion */

/* #region MAPA */
.map-wrapper {
    background: linear-gradient(135deg, rgba(3, 39, 36, 0.685) 5%, rgb(0, 0, 0));

    & .map-container {
        background-color: #0fa8d2;
    }
}

/* #endregion */

/* #region RADIO */

.radio-wheel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;
    padding-block: 9em;
    margin: 0 auto;
    overflow: visible;
    aspect-ratio: 1 / 1;

    & .radio-card {
        position: absolute;
        width: clamp(40px, 6vw, 75px);
        height: clamp(40px, 6vw, 75px);
        top: 50%;
        left: 50%;
        margin-top: -35px;
        margin-left: -35px;
        transform-origin: 35px 35px;

        & img {
            width: 100%;
            height: 100%;
            opacity: 0.4;
            filter: grayscale(700%);
            object-fit: contain;
            padding: 2px;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            &:hover {
                outline: 3px #5486e2a6 solid;
                filter: grayscale(50%);
                opacity: 0.9;
            }
        }

        &.active {
            & img {
                opacity: 1;
                filter: grayscale(0);
                outline: 3px #5486e2 solid;
            }
        }
    }
}


#radioInfo {

    & #playlistSelector {
        margin-bottom: 1em;

        & button {
            padding: 1em 2.1em;
            background: #000000;
            color: #F0F0F0;
            font-family: "Chalet";
            text-transform: uppercase;
            font-size: 0.8em;


            &:hover {
                background: #F0F0F0;
                color: #1a2a1a;
            }


            &.active {
                background: #F0F0F0;
                font-weight: 800;
                color: #1a2a1a;

                &::after {
                    position: absolute;
                    top: -2px;
                    left: 0;
                    transform: translateX(0);
                    width: 100%;
                    height: 3px;
                    content: "";
                    background: var(--title-color);
                }
            }
        }
    }
}


/* #endregion */

/* #region MEDIA QUERIES  */

@media (max-width: 1350px) {

    body {
        &::before {
            background-image: url("../images/main/background_V-mobile.webp");
        }
    }

    .radio-wheel {
        padding-block: 3em;
    }
}

/* #endregion */