/* #region FUENTES  */

@font-face {
    font-family: "Geneva";
    src: url("../fonts/Geneva.ttf");
}

@font-face {
    font-family: "Rage Italic";
    src: url("../fonts/RageItalic.woff");
}

/* #endregion */

/* #region GENERAL */

::selection {
    background: #fba1f8;
    color: #1a2a1a;
}

::-moz-selection {
    background: #fba1f8;
    color: #1a2a1a;
}

html,
*:hover {
    cursor: url("../cursors/III.cur"), auto !important;
}

body::before {
    background-image: url("../images/main/background_VCS.webp");
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1);
    z-index: -1;
}

#rightContent::before {
    background: linear-gradient(90deg, #e360b5, #b475efd9);
}

.block,
#radioInfo {
    background: #011830f3;
    color: #f4f4f4;
    box-shadow: inset 0 0 30px 5px #a64ae97a;
    border: 5px solid #e360b5;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-container {
    justify-content: left;
    align-items: left;
}

.text-container {
    & h2 {
        font-family: "Geneva";
        color: #faa3ff;
        text-shadow: 3px 3px 10px #000000;
    }

    & .characters-container {

        & .characters-header {

            &::before,
            &::after {
                background: linear-gradient(90deg, transparent, #e199f3, transparent);

            }
        }

        & .characters-list {
            & article {
                &:hover {
                    outline-color: #25f0ff !important;
                }

                & .character-text {
                    & span {
                        color: #f5e0ff;
                    }
                }
            }
        }
    }
}

#rightContent {
    & .right-content-nav {
        & .right-content-links {
            & a {
                font-family: "Geneva";

                &.active {
                    color: #e360b5;
                    background: #d071cd32;

                    &::before {
                        background-color: #e360b5;
                    }
                }

                &:active {
                    background: #ce71d05c;

                    &::before {
                        background-color: #e360b5;
                    }
                }
            }
        }
    }
}

/* #endregion */

/* #region FICHA TÉCNICA */
.ficha-tecnica {
    border-color: #a300acd2 !important;
    background-color: #76007c97;

    & table {
        & tr {
            border-color: #f980ffd2;
        }
    }
}

.ficha-tecnica th,
span.table-platforms {
    font-family: "Geneva";
}

span.table-platforms {
    color: #faa3ff;
}

/* #endregion */

/* #region 100% CHECKLIST */
.progress-wrapper {
    & .progress-bar-bg {
        & .progress-bar-fill {
            background: linear-gradient(90deg, #ffadfc, #e372d2);
        }
    }
}

.checklist-container {
    & article {
        & .section-header {
            & .section-check-all {
                &.complete {
                    color: #ff93f8;

                    & svg {
                        stroke: #ff93f8;
                        filter: drop-shadow(0 0 3px #f1adec);
                    }
                }
            }
        }

        & .checklist-list-wrapper {
            & ul {
                & li {
                    &.completed {
                        background: rgba(255, 0, 166, 0.06);
                        border-color: rgba(255, 0, 225, 0.25);
                    }

                    & .checklist-row {
                        & label {
                            & input {
                                &:checked {
                                    &+span {
                                        background: #e065ff;
                                        border-color: #d784f0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.checklist-disclaimer {
    font-size: 0.9em;
    color: #c2bdbd;
    padding-block: 1em;
    text-align: center;
    margin: 0 auto;
}

/* #endregion */

/* #region RADIO */

.radio-container {
    & .radio-grid {
        background: linear-gradient(135deg, rgba(245, 155, 253, 0.9), rgba(225, 84, 238, 0.9));
    }
}

#radioInfo {

    & #radioDJ,
    & #radioGenre {

        & p {
            color: #fdc6ff;
        }
    }

}

footer {
    & .footer-left {
        & .footer-album {
            & img {
                border: 3px solid #f8c4ff;
                background: linear-gradient(135deg, rgb(252, 193, 237), rgb(251, 149, 255) 60%);
            }
        }
    }
}

/* #endregion */

/* #region TRUCOS */

.platform-selector {
    display: none;
}

#cheatsContainer {
    margin-top: 1.5em;

    & section {
        border-color: rgba(205, 5, 255, 0.6);
        background: linear-gradient(225deg, rgba(246, 125, 255, 0.5), rgba(159, 28, 220, 0.5));

        &:nth-of-type(even) {
            background: linear-gradient(45deg, rgba(246, 125, 255, 0.5), rgba(159, 28, 220, 0.5));
        }
    }
}

/* #endregion */

/* #region MEDIA QUERIES  */

@media (max-width: 1350px) {

    body {
        &::before {
            background-image: url("../images/main/background_VCS-mobile.webp");
        }
    }
}

/* #endregion */