/* #region FUENTES */

@font-face {
    font-family: "Bank Gothic";
    src: url("../fonts/BankGothic.ttf");
}

/* #endregion */

/* #region GENERAL */
:root {
    --font-title: "Bank Gothic";
    --block-color: #213f10e6;
    --block-text: #f4f4f4;
    --block-shadow: #1b5705fa;
    --block-border: #0da419;
    --title-color: #e69a04;
    --accent-color: #32ae26;
}

::selection {
    background: var(--accent-color);
    color: #1a2a1a;
}

::-moz-selection {
    background: var(--accent-color);
    color: #1a2a1a;
}

html,
*:hover {
    cursor: url("../cursors/SA.cur"), auto !important;
}

body {
    &::before {
        background-image: url("../images/main/background_SA.webp");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform: scale(1.1);
        z-index: -1;
    }

    &::after {
        content: "";
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--block-border) 5%, var(--block-color)));
    }

    & .block,
    #radioInfo {
        background: linear-gradient(135deg,
                #0e2e0ae3 0%,
                #0a1f08e3 50%,
                #1a3a0ee3 100%);

    }
}


.text-container {
    & h2 {
        text-shadow: 2px 2px #000;
    }
}


/* #endregion */

/* #region FICHA TÉCNICA */
.ficha-tecnica {
    background-color: color-mix(in srgb, var(--accent-color) 35%, transparent);
}


span.table-platforms {
    text-shadow: 2px 2px #000;
}

/* #endregion */

/* #region 100% CHECKLIST */

/* #endregion */

/* #region HERRAMIENTAS Y MODS */

details.mod summary img {
    border-radius: 50%;
    background: radial-gradient(circle 70px at top left,
            #d4ff4d,
            #4a7a28);
    outline: 1px solid #00000013;
}

.mods-container {
    & details {
        &[open] {
            & .mod-expanded {
                & nav {
                    & a {
                        & span {
                            color: color-mix(in srgb, var(--accent-color) 45%, var(--block-text));
                        }

                        &.active {
                            border: 2px solid color-mix(in srgb, var(--block-border) 45%, transparent);
                            background: color-mix(in srgb, var(--block-border) 60%, transparent);
                        }
                    }
                }
            }
        }
    }
}


.tab-content[data-content="info"].active .btn-info,
.tab-content[data-content="download"].active .btn-download {
    background: color-mix(in srgb, var(--block-border) 80%, transparent);

    & .material-symbols-rounded {
        color: color-mix(in srgb, var(--accent-color) 40%, var(--block-text));
    }
}

/* #endregion */

/* #region LOGROS  */



/* #endregion */

/* #region MAPA */
.map-wrapper {
    & .map-container {
        background-color: #7A8AAC;
    }
}

/* #endregion */

/* #region RADIO */

.radio-container {
    & .radio-grid {
        background: linear-gradient(135deg, rgb(0, 0, 0), rgba(0, 0, 0, 1));
        gap: 2em;
    }
}

#radioInfo {

    & #playlistSelector {
        margin-bottom: 1em;
        gap: 0 1em;

        & button {
            text-align: start;
            transform: scaleY(0.9);
            padding: 0.2em 0.4em 0.2em 0;
            text-transform: uppercase;
            font-size: 1.3em;
            background: none;
            font-weight: bolder;
            color: #4E5C6D;
            position: relative;

            &:hover {
                color: #B1CEF1;
            }

            &.active {
                font-weight: 800;
                color: #B1CEF1;
                padding-left: 1.7em;


                &::before {
                    content: '';
                    left: 0;
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-image: url("../images/radios/SA/arrow.webp");
                    background-size: cover;
                    background-position: center;

                }
            }


        }
    }
}

.radio-footer {
    & .footer-left {
        & .footer-album {
            & img {
                padding: 0;
                background: #050505
            }
        }
    }
}

/* #endregion */

/* #region TRUCOS */



/* #endregion */

/* #region MEDIA QUERIES  */

@media (max-width: 1350px) {

    body {
        &::before {
            background-image: url("../images/main/background_SA-mobile.webp");
        }
    }

    #radioInfo {
        & #playlistSelector {
            font-size: 0.9em;
            flex-direction: column;
        }
    }
}

/* #endregion */