@font-face {
    font-family: "SF Arborcrest";
    src: url("../fonts/SF\ Arborcrest.ttf");

    }

    body::before {
        background-image: url("../images/main/background_VC.webp");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform: scale(1.1);
        z-index: -1;
    }

    #rightContent::before {
        background:linear-gradient(90deg, #38eeff, #b475ef);
    }

    .block {
        background: radial-gradient(circle 500px at 30px 60px, #df2aff32 15%, transparent 70%),
        radial-gradient(circle 500px at 100% 100%, #df2aff32 15%, transparent 70%), #1c0326ef;
        color: #ffffff;
        box-shadow: 0px -60px 500px 100px #03373e7e;
        border: 5px solid #00d4e7;
    }

    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .text-container {
        justify-content: left;
        align-items: left;
    }

    .text-container h2 {
        font-family: "SF Arborcrest";
        color: #00d4e7;
        text-shadow: 3px 3px 10px #000000;
    }

    .right-content-nav a {
        font-family: "SF Arborcrest";
        font-size: 1.7rem;
    }

    .right-content-nav a.active {
        color: #00d4e7;
        text-shadow: 0 0 3px #000;
        cursor: default;
    }

    .right-content-nav a.inactive {
        color: #484c4c;
    }

    .right-content-nav a.inactive:hover {
        color: #00d4e7;
        text-shadow: 0 0 3px #000;
        transition: color 0.15s;
    }

    .right-content-nav a.inactive:active {
        color: #018e9b;
    }


    /*FICHA TÉCNICA*/
    .ficha-tecnica {
        border-color: #00d4e7d2 !important;
        background-color: #018e9b97;
    }

    .ficha-tecnica th, span.table-platforms {
        font-family: "SF Arborcrest";
        text-align: center;
    }

    span.table-platforms {
        color: #00d4e7;
    }

    /*RADIO*/
    #nameRadio {
        font-family: "SF Arborcrest";
        color: #81becf;
        text-shadow: 5px 5px 1px #000000;
    }

    #radioInfo {
        background: radial-gradient(circle 500px at 30px 60px, #df2aff32 15%, transparent 70%),
        radial-gradient(circle 500px at 100% 100%, #df2aff32 15%, transparent 70%), #1c0326ef;
        border: 5px solid #8fe2ea;
    }