@font-face {
    font-family: "Bank Gothic";
    src: url("../fonts/BankGothic.ttf");

    }

    body::before {
        background-image: url("../images/main/background_SA.webp");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform: scale(1.1);
        z-index: -1;
    }

    #rightContent::before {
        background:linear-gradient(90deg, #4bf73b, #b475efd9);
    }

    .block {
        background: radial-gradient(circle 500px at 30px 60px, #020b0186 15%, transparent 70%),
        radial-gradient(circle 500px at 100% 100%, #020b0186 15%, transparent 70%), #213f10f4;
        color: #ffffff;
        box-shadow: 0px -60px 500px 100px #31490b9d;
        border: 5px solid #0da419;
    }

    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .text-container {
        justify-content: left;
        align-items: left;
    }

    .text-container h2 {
        font-family: "Bank Gothic";
        color: #cefcb5;
        font-size: 34px;
        text-align: center;
        -webkit-text-stroke: 1px #aade1029;
    }

    .right-content-nav a {
        font-family: "Bank Gothic";
        font-size: 27px;
    }

    .right-content-nav a.active {
        color: #4bf73b;
        text-shadow: 0 0 3px #000;
        cursor: default;
    }

    .right-content-nav a.inactive {
        color: #3b543b;
    }

    .right-content-nav a.inactive:hover {
        color: #4bf73b;
        text-shadow: 0 0 3px #000;
        transition: color 0.1s;
    }

    .right-content-nav a.inactive:active {
        color: #30be23;
    }


    /*FICHA TÉCNICA*/
    .ficha-tecnica {
        border-color: #4bf73bd2 !important;
        background-color: #30be2370;
    }

    .ficha-tecnica th, span.table-platforms {
        font-family: "Bank Gothic";
    }

    span.table-platforms {
        color: #96f46a;
    }


    /*RADIO*/
    .radio-drag p {
        font-family: "Bank Gothic";
        color: #9d7119;
        -webkit-text-stroke: 1px #000;
        font-weight: 900;
    }

    #radioInfo {
        background: radial-gradient(circle 500px at 30px 60px, #020b0186 15%, transparent 70%),
        radial-gradient(circle 500px at 100% 100%, #020b0186 15%, transparent 70%), #213f10f4;
        color: #ffffff;
        box-shadow: 0px -60px 500px 100px #31490b9d;
        border: 5px solid #0da419;
    }