/* #region FUENTES */
@font-face {
    font-family: "GTAArtDecoRegular";
    src: url("../fonts/GTAArtDecoRegular.ttf");
}
/* #endregion */

/* #region GENERAL */
:root {
    --gradient: #7487e7, #ea49f2, #fa72a7, #ffa14f;
    --accent-color: #afbcfc;
}
body::before {
    background-image: url("../images/main/background_VI.webp");
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1);
    z-index: -1;
}

.block {
    background: #4c096ec2;
    box-shadow: 0px -60px 500px 100px #8c1cee7d;
    border: 5px solid #79d2ff;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text-container {
    justify-content: left;
    align-items: left;
    color: #ffffff;
}
.text-container h2 {
    font-family: "GTAArtDecoRegular";
    background-image: linear-gradient(to right, var(--gradient));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    text-align: center;
    line-height: 0.9;
}

#rightContent::before {
    background:linear-gradient(90deg, #81eaf4, #b475efd9);
}
.right-content-nav a {
    font-family: "GTAArtDecoRegular";
    font-size: 27px;
}
.right-content-nav a.active {
    color: #81eaf4;
    text-shadow: 0 0 3px #000;
    cursor: default;
}
.right-content-nav a.inactive {
    color: #505050fa;
    transition: color 0.2s;
}
.right-content-nav a.inactive:hover {
    color: #81eaf4;
    text-shadow: 0 0 3px #000;
}
.right-content-nav a.inactive:active {
    color: #67c8ee;
}

/* #endregion */

/* #region LÍNEA DE TIEMPO */
article {
    padding: 0 3em;
    margin-bottom: 4em;
}
article p {
    color: #fff;
    margin: 0 0 20px 30px;
    text-align: left;
    text-wrap: wrap;
    font-family: "GTAArtDecoRegular";
    max-width: 100%;
    text-indent: 1.7rem;
    font-size: 1.3rem;
}
.timeline-last-updated {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}
.timeline-date {
    text-align: left;
    font-size: 25px;
    background-image: linear-gradient(to bottom, var(--gradient));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timeline-time {
    text-align: left;
    background-image: linear-gradient(to bottom, var(--gradient));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 17px;
}
.block.timeline p + p {
    margin-bottom: 30px;
}
.timeline-divider {
    height: 2px;
    border-radius: 1em;
    width: 100%;
    background: linear-gradient(to right, #dd6262, #ffc61a);
    margin-bottom: 1em;
}
.timeline-icon {
    color: var(--accent-color);
}
.timeline-image {
    box-sizing: content-box;
    align-items: center;
    max-width: 50%;
    display: block;
    max-height: 90%;
    height: auto;
    margin: 10px auto 50px auto;
    border-radius: 20px;
    border: 3px solid #e79efb;
    cursor: pointer;
}
article a {
    text-decoration: none;
    color: #f790b8;
    transition: color 0.15s ease-in-out;
}
article a:active {
    color: #c36086;
}
/* #endregion */

/* #region FICHA TÉCNICA */
    .ficha-tecnica {
        border-color: #acdaf3 !important;
        background: radial-gradient(circle at bottom right, #4b60c7ac, #b64cbbac, #e57da5ac, #e89b58ac);
        color: #ffffff;
    }

    .ficha-tecnica th, span.table-platforms {
        font-family: "GTAArtDecoRegular";
    }

    span.table-platforms {
        color: #acdaf3;
    }
/* #endregion */