---
interface Props {
    variant:
        | "homeCard"
        | "checklist"
        | "artworks"
        | "mods"
        | "achievements"
        | "map"
        | "radio"
        | "cheats";
    checklistCount?: number;
    radioCount?: number;
    game?: string;
}

const { variant, checklistCount = 1, radioCount = 1, game } = Astro.props;
---

{
    (
        <>
            {variant === "checklist" &&
                Array.from({ length: checklistCount }).map((_, index) => (
                    <div class="skeleton-base" aria-hidden="true">
                        <div class="skeleton-base" />
                        <div class="skeleton-base" />
                    </div>
                ))}

            {variant === "radio" &&
                Array.from({ length: radioCount }).map((_, index) => {
                    const isGTAV = game === "V";

                    const angle = (360 / radioCount) * index;
                    const radius = 280;

                    return (
                        <div
                            class:list={[
                                "skeleton-base",
                                game === "V"
                                    ? "skeleton-radio-v"
                                    : "skeleton-radio",
                                game === "V" && "radio-card",
                            ]}
                            style={
                                isGTAV
                                    ? `transform:
                            rotate(${angle}deg)
                            translate(${radius}px)
                            rotate(-${angle}deg); border-radius: 50%`
                                    : ""
                            }
                            aria-hidden="true"
                        />
                    );
                })}

            {variant === "homeCard" && (
                <div class="skeleton-card" aria-hidden="true">
                    <div class="skeleton-base skeleton-image" />
                    <div class="skeleton-base skeleton-title" />
                    <div class="skeleton-base skeleton-line" />
                </div>
            )}
        </>
    )
}

