@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@font-face {
    font-family: "GTAArtDeco";
    src: url("/assets/fonts/GTAArtDecoRegular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "GTAArtDeco";
    src: url("/assets/fonts/GTAArtDecoMedium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "GTAArtDeco";
    src: url("/assets/fonts/GTAArtDecoBold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "GTAArtDecoCondensed";
    src: url("/assets/fonts/GTAArtDecoCondensed.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}
